*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

header{
   position: fixed;
   margin-top: 0px;
   width: 100%;
}

.menu{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: cadetblue;
   width: 100%;
   top: 4px;
  
}

.menu h2{
   color: #fff;
   
}

.nav-links ul li{
   display: inline-block;
   margin: 20px;
   list-style: none;
   color: rgb(255, 255, 255);
   
}

.nav-links ul li:hover{
   color: rgb(251, 255, 0);
}

div .bar{
   background-color: rgb(255, 255, 255);
   width: 30px;
   height: 5px;
   margin: 5px;
   border-radius: 14px;
   display: none;
   transition: 0.4s;
}


.info h4{
   display: flex;
   position: relative;
   top: 100px;
   font-size: 50px;
   z-index: -1;
   margin-left: 80px;
}
.info #caleb{
   position: absolute;
   display: flex;
   right: 100px;
   z-index: -1;
   top: 80px;
}
.info img{
   width: 300px;
}
.minfo{
   display: none;
}

.info h5{
   position: relative;
   display: flex;
   top: 130px;
   margin-left: 80px;
   background: rgb(16, 169, 216);
   width: 60px;
   padding: 5px;
   color: #fff;
   border-radius: 20px;
   z-index: -1;
}

.navTag h3{
   position: relative;
   top: 250px;
   display: flex;
   margin-left: 80px;
   z-index: -1;
}

.navTag img{
   position: relative;
   margin-left: 80px;
   top: 300px;
   z-index: -1;
}

.skill{
   position: relative;
   top: 400px;
   display: flex;
   margin-left: 80px;
   z-index: -1;
}

.skill p{
   position: relative;
   display: flex;
   top: 40px;
   z-index: -1;
}

.work{
   position: relative;
   top: 500px;
   margin-left: 80px;
   z-index: -1;
}

.work img{
   position: relative;
   top: 80px;
   padding: 20px;
  z-index: -1;
   right: 10px;

}



.contact{
   position: relative;
   top: 600px;
   display: flex;
   margin-left: 80px;
}

.aboutInfo{
   display: flex;
   top: 20px;
   position: relative;
   top: 340px;
   margin-left: 80px;
   z-index: -1;
}
@media (max-width: 860px){
   .info #caleb{
      position: absolute;
      display: flex;
      right: 20px;
      z-index: -1;
      top: 80px;
   }
}

@media (max-width: 760px){

}
@media (max-width: 760px){
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;

   }
   .info{
      display: none;
   }


   .sk{
      text-align: center;
      margin: 50px;
   }

   .sk h3{
      
      position: relative;
      display: flex;
      left: 15px;
   }
   .sk p{
      display: flex;
      margin-left: 50px;
      margin: 15px;
      text-align: center;
   }

   .wk{
      text-align: center;
   }
   .wk img{
      padding: 15px;
      
   }
   .navTags h3{
      text-align: center;
      margin: 60px;
   }
   .con{
      text-align: center;
      margin: 30px;
   }
   
   .minfo{
      display: block;
      position: absolute;
      margin: 60px;
      right: 20px;
      z-index: -1;
   }

   .minfo img{
      position: relative;
      top: 20px;
      width: 350px;
      right: -50px;
   }

   .minfo h4{
      margin-top: 100px;
      font-size: 20px;
      margin-left: 70px;
   }

   .minfo h5{
      display: flex;
      margin-top: 50px;
      color: #fff;
      padding: 12px;
      width: 150px;
      font-size: 40px;
      background-color: rgb(16, 169, 216);
      margin-left: 70px;
   }

   .nav-links ul li{
      flex-direction: column;
      padding: 20px;
      display: flex;
      color: #fff;
      font-size: 15px;
      align-items: center;
      list-style: none;
      transition: 0.5s;
      opacity: 0;
      
   }

   .nav-links ul a{
      text-decoration: none;
   }

   div .bar{
      display: block;
      
   }

   .menu{
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      padding-top: 20px;
      padding: 20px;
      top: 0px;
      
      
   }
   .menu h2{
      font-size: 30px;
      color: #fff;
      background-color: cadetblue;
      padding-top: 16px;
   }

   .nav-bars{
      padding-top: 16px;
   }

   .nav-links{
      
      position: absolute;
      top: 40px;
      right: 0;
      width: 50%;
      height: 80vh;
      transform: translateY(-150%);
      transition: 0.6s; 
   }

   .nav-active{
      transform: translateY(0%);
      background: cadetblue;
   }

   
   @keyframes navSlide{
      from{
         opacity: 0;
         transform: translateX(100%);
      }
      to{
         opacity: 1;
         transform: translateX(0%);
      }
   }
   

   .toggle #bar-one{
      transform: rotate(-45deg) translate(-5px,9px);
   }
   .toggle #bar-two{
      opacity: 0;
   }
   .toggle #bar-three{
      transform: rotate(45deg) translate(-5px,-9px);
   }
   .aboutInfo{
      display: flex;
      top: 18px;
      position: relative;
      margin-left: 80px;
      z-index: -1;
   }
}